body, html{
    margin:0px;
    padding:40px;
}

a{color:orchid}

header{
    background-color: gold ;
    color: white;
    padding: 20px;
}

article{
    background-color: blue ;
}
footer{
    font: bold ;
    background-color:  grey ;
}